/*fonts*/
/*fonts-weight*/
/*fonts-size*/
/*line-height*/
/*colors*/
/*transition*/
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova-Regular/ProximaNova-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.ttf") format("truetype"), url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Bold/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova-Bold/ProximaNova-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Light/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light/ProximaNova-Light.ttf") format("truetype"), url("../fonts/ProximaNova-Light/ProximaNova-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal; }
/*import global styles */
/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html, body {
  width: 100%;
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  font: 400 10.625px "ProximaNova", Arial, sans-serif;
  background: #ffffff;
  color: #040707;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none; }

select, input, textarea {
  vertical-align: middle;
  color: #040707; }

textarea {
  vertical-align: top; }

:focus {
  outline: none; }

input[type=submit], button {
  cursor: pointer; }

img, fieldset {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:link, a:visited {
  font-family: "ProximaNova", Arial, sans-serif;
  color: #040707;
  text-decoration: underline; }

a:hover {
  text-decoration: none; }

/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r {
  float: right !important; }

.float-l {
  float: left !important; }

.no-float {
  float: none !important; }

.no-border {
  border: 0 !important; }

.no-bg {
  background: none !important; }

.no-margin {
  margin: 0 !important; }

.no-padding {
  padding: 0 !important; }

.no-display {
  display: none !important; }

.display {
  display: block !important; }

.inline {
  display: inline !important; }

.overflow {
  overflow: hidden !important; }

.align-r {
  text-align: right !important; }

.align-l {
  text-align: left !important; }

.align-c {
  text-align: center !important; }

.clear {
  clear: both; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

em, i {
  font-style: italic; }

strong, b {
  font-weight: 700; }

a, .btn,
button, input[type=submit] {
  -webkit-transition: 0.2s;
  -khtml-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.container {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px; }

.content * {
  margin-bottom: 12px;
  line-height: 1.6; }
  .content *:last-child {
    margin-bottom: 0; }
.content a {
  color: #cccccc; }
  .content a:hover {
    opacity: 0.7;
    text-decoration: none; }
.content ul > li {
  list-style-type: disc; }
.content ol > li {
  list-style-type: decimal; }
.content li {
  margin-bottom: 12px;
  text-align: left; }
.content blockquote {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  text-align: left; }
.content img {
  max-width: 100%;
  height: auto; }
  .content img.alignleft {
    float: left;
    margin: 4px 12px 12px 0; }
  .content img.alignright {
    float: right;
    margin: 4px 0 12px 12px; }
  .content img.aligncenter {
    display: block;
    margin: 0 auto 12px;
    clear: both; }

/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
  position: relative; }

/*--------------------------------------MEDIA-----------------------------------------*/
/* styles used throughout site */

/*# sourceMappingURL=screen.css.map */
