/*fonts*/
/*fonts-weight*/
/*fonts-size*/
/*line-height*/
/*colors*/
/*transition*/
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova-Regular/ProximaNova-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.ttf") format("truetype"), url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Bold/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova-Bold/ProximaNova-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Light/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light/ProximaNova-Light.ttf") format("truetype"), url("../fonts/ProximaNova-Light/ProximaNova-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal; }
/*import global styles */
/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html, body {
  width: 100%;
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  font: 400 17px "ProximaNova", Arial, sans-serif;
  line-height: 1.6;
  background: #ffffff;
  color: #040707;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none; }

select, input, textarea {
  vertical-align: middle;
  color: #040707; }

textarea {
  vertical-align: top; }

:focus {
  outline: none; }

input[type=submit], button {
  cursor: pointer; }

img, fieldset {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:link, a:visited {
  font-family: "ProximaNova", Arial, sans-serif;
  color: #040707;
  text-decoration: underline; }

a:hover {
  text-decoration: none; }

/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r {
  float: right !important; }

.float-l {
  float: left !important; }

.no-float {
  float: none !important; }

.no-border {
  border: 0 !important; }

.no-bg {
  background: none !important; }

.no-margin {
  margin: 0 !important; }

.no-padding {
  padding: 0 !important; }

.no-display {
  display: none !important; }

.display {
  display: block !important; }

.inline {
  display: inline !important; }

.overflow {
  overflow: hidden !important; }

.align-r {
  text-align: right !important; }

.align-l {
  text-align: left !important; }

.align-c {
  text-align: center !important; }

.clear {
  clear: both; }

* {
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

em, i {
  font-style: italic; }

strong, b {
  font-weight: 700; }

a, .btn,
button, input[type=submit] {
  -webkit-transition: 0.2s;
  -khtml-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.container {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px; }
  .container.half-box-has {
    padding: 0; }

.half-box {
  float: left;
  width: 50%;
  padding: 0 20px; }
  .half-box.right {
    float: right; }

.content {
  font: 400 17px "ProximaNova", Arial, sans-serif;
  line-height: 1.6; }
  .content p,
  .content ul,
  .content ol {
    margin-bottom: 11px; }
    .content p:last-child,
    .content ul:last-child,
    .content ol:last-child {
      margin-bottom: 0; }
  .content ul, .content ol {
    padding-left: 20px; }
  .content ul > li {
    list-style-type: disc; }
  .content ol > li {
    list-style-type: decimal; }
  .content li {
    margin-bottom: 12px;
    text-align: left; }
  .content img {
    max-width: 100%;
    height: auto; }
    .content img.alignleft {
      float: left;
      margin: 4px 12px 12px 0; }
    .content img.alignright {
      float: right;
      margin: 4px 0 12px 12px; }
    .content img.aligncenter {
      display: block;
      margin: 0 auto 12px;
      clear: both; }
  .content h1, .content h2 {
    margin-bottom: 20px;
    font-size: 42px;
    line-height: 1.2; }
  .content h3 {
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 1.35; }
    .content h3:not(:first-child) {
      margin-top: 18px; }
  .content h4, .content h5, .content h6 {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.5; }
    .content h4:not(:first-child), .content h5:not(:first-child), .content h6:not(:first-child) {
      margin-top: 14px; }
  .content table {
    border-collapse: collapse;
    background-color: transparent;
    width: 100%;
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem; }
    .content table:not(.no-head) tr:first-of-type th, .content table:not(.no-head) tr:first-of-type td {
      vertical-align: middle;
      border-bottom: 2px solid #eceeef; }
    .content table td, .content table th {
      width: auto;
      padding: .75rem;
      vertical-align: top;
      border-top: 1px solid #eceeef; }
      .content table td:empty, .content table th:empty {
        display: none; }
    .content table.no-head th, .content table.no-head td {
      vertical-align: middle; }
    .content table p {
      margin-bottom: 8px; }
      .content table p:last-child {
        margin-bottom: 0; }
  .content.content-wrap .section.grey table td, .content.content-wrap .section.grey table th, .content.content-wrap .section:nth-child(even) table td, .content.content-wrap .section:nth-child(even) table th {
    border-color: #222222; }

/*-------------------------------------WRAPPER--------------------------------------*/
.wrapper {
  position: relative;
  min-height: 100%; }
  .home .wrapper {
    background-color: #8acf52; }

/*------------------------------------ERROR-404-------------------------------------*/
.wrap-404 {
  text-align: center;
  padding: 50px 0 40px;
  color: #8acf52;
  font-size: 78px;
  letter-spacing: 0; }
  .wrap-404 .error-404 {
    display: block;
    margin-bottom: -30px;
    font-size: 200px;
    line-height: 1;
    font-weight: 700; }

a.btn, .btn,
.wptrigger1-button {
  position: relative;
  display: inline-block;
  max-width: 100%;
  min-width: 91px;
  margin: 0;
  padding: 14px 15px 12px;
  font: 600 21px "ProximaNova", Arial, sans-serif;
  line-height: 1.15;
  color: #cccccc;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  background-color: #ebebeb; }
  a.btn:hover, .btn:hover,
  .wptrigger1-button:hover {
    background-color: #e1e1e1;
    color: #040707; }

input[type=button],
input[type=submit],
button {
  -webkit-appearance: none;
  -moz-appearance: none; }

.input-style,
.wptrigger1-triggerbox {
  display: block;
  width: 100%;
  height: 50px;
  margin: 0;
  border: none;
  box-shadow: none;
  font: 400 21px "ProximaNova", Arial, sans-serif;
  line-height: 40px;
  color: #040707;
  padding: 5px 20px;
  background-color: #ffffff;
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }
  .input-style.wpcf7-not-valid, .input-style.error,
  .wptrigger1-triggerbox.wpcf7-not-valid,
  .wptrigger1-triggerbox.error {
    outline: 1px solid #ff0000; }
  .input-style::-webkit-input-placeholder,
  .wptrigger1-triggerbox::-webkit-input-placeholder {
    color: #cccccc;
    -webkit-transition: 0.35s;
    -khtml-transition: 0.35s;
    -moz-transition: 0.35s;
    -ms-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s; }
  .input-style::-moz-placeholder,
  .wptrigger1-triggerbox::-moz-placeholder {
    color: #cccccc;
    -webkit-transition: 0.35s;
    -khtml-transition: 0.35s;
    -moz-transition: 0.35s;
    -ms-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s; }
  .input-style:-ms-input-placeholder,
  .wptrigger1-triggerbox:-ms-input-placeholder {
    color: #cccccc;
    -webkit-transition: 0.35s;
    -khtml-transition: 0.35s;
    -moz-transition: 0.35s;
    -ms-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s; }
  .input-style:-moz-placeholder,
  .wptrigger1-triggerbox:-moz-placeholder {
    color: #cccccc;
    -webkit-transition: 0.35s;
    -khtml-transition: 0.35s;
    -moz-transition: 0.35s;
    -ms-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s; }

textarea.input-style {
  line-height: 1.25;
  padding: 5px 12px;
  min-height: 200px;
  resize: none; }

.input-style.error + .error {
  position: absolute;
  left: 0;
  width: 280px;
  color: #ff0000;
  line-height: 1.2; }

span.wpcf7-not-valid-tip,
.input-style.error + .error {
  font-size: 0.9em; }

div.wpcf7-response-output {
  margin: 8px 0 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.1em;
  text-align: center;
  color: #ffffff; }

div.wpcf7 .input-submit .ajax-loader {
  position: absolute;
  right: -20px;
  top: 50%;
  margin-top: -8px; }

.header {
  overflow: hidden;
  background-color: #8acf52; }
  .header .logo {
    float: left;
    margin-right: 20px;
    line-height: 1;
    text-align: center; }
    .header .logo img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      margin-bottom: -7px; }

.header-call-us {
  float: right;
  padding-top: 20px;
  padding-right: 170px;
  color: #ffffff;
  font-weight: 600;
  font-size: 17px; }
  .home .header-call-us {
    display: none; }
  .header-call-us a {
    margin-left: 6px;
    text-decoration: none;
    font-size: 21px;
    color: #040707;
    white-space: nowrap; }
    .header-call-us a:hover {
      color: #294848; }

.easy-fast {
  position: relative;
  color: #231f20;
  font-weight: 700;
  font-size: 20px; }
  .easy-fast:after {
    display: inline-block;
    position: relative;
    top: 3px;
    left: -5px;
    width: 45px;
    height: 41px;
    background: url("../../img/mini-mascot-sprite.png") center no-repeat transparent;
    background-size: auto 100%; }
  .preheader-front .easy-fast {
    font-size: 22px; }
    .preheader-front .easy-fast:after {
      top: -10px;
      left: -14px;
      width: 54px;
      height: 51px; }

.minimascot {
  display: inline-block;
  position: relative;
  top: 3px;
  left: -5px;
  width: 45px;
  height: 43px;
  background: url("../../img/mini-mascot-sprite.png") left bottom no-repeat transparent;
  background-size: auto 43px; }

.form-box .input-submit,
.form-box .wptrigger_content {
  position: relative;
  padding-right: 91px; }
  .form-box .input-submit .input-style,
  .form-box .input-submit .wptrigger1-triggerbox,
  .form-box .wptrigger_content .input-style,
  .form-box .wptrigger_content .wptrigger1-triggerbox {
    width: 100% !important;
    padding-right: 15px; }
  .form-box .input-submit .btn, .form-box .input-submit input[type=submit],
  .form-box .input-submit .wptrigger1-button,
  .form-box .wptrigger_content .btn,
  .form-box .wptrigger_content input[type=submit],
  .form-box .wptrigger_content .wptrigger1-button {
    position: absolute;
    min-width: 91px;
    height: 50px;
    padding-left: 7px;
    padding-right: 7px;
    top: 0;
    right: 0;
    z-index: 1;
    margin: 0 !important; }
.form-box form,
.form-box form p {
  margin-bottom: 8px; }
  .form-box form:last-child,
  .form-box form p:last-child {
    margin-bottom: 0; }
.form-box .wptrigger_append {
  margin-right: -91px; }
  .form-box .wptrigger_append .trigger-response {
    display: block;
    padding-bottom: 20px; }
.form-box .trigger-response {
  font-size: 0.9em;
  line-height: 1.2; }
  .form-box .trigger-response.error {
    color: #ff0000; }

.preheader {
  overflow: hidden;
  background-color: #8acf52;
  padding: 44px 0 35px;
  color: #ffffff; }
  .preheader .slogan {
    margin-bottom: 5px;
    font-size: 22px;
    line-height: 2.35; }
    .preheader .slogan p {
      margin-bottom: 0; }
  .preheader.preheader-front {
    padding-top: 50px;
    padding-bottom: 0;
    background-color: #8acf52;
    background-size: 100%;
    background-origin: content-box;
    min-height: calc(100vh - 88px); }
    .preheader.preheader-front .container {
      padding-top: 100px; }
    .preheader.preheader-front .zip-box {
      max-width: 490px;
      padding-bottom: 150px;
      text-align: center;
      font-size: 22px; }
      .preheader.preheader-front .zip-box p:not(:last-child) {
        margin-bottom: 10px; }
      .preheader.preheader-front .zip-box p.easy-fast {
        margin-bottom: 44px; }
    .preheader.preheader-front .slogan {
      font-size: 29px;
      line-height: 1.95; }
      .preheader.preheader-front .slogan:not(:last-child) {
        margin-bottom: 48px; }
      .preheader.preheader-front .slogan p:not(:last-child) {
        margin-bottom: 15px; }
    .preheader.preheader-front .form-box {
      padding-bottom: 10px;
      max-width: 400px;
      margin: 0 auto 10px; }
      .preheader.preheader-front .form-box .wptrigger_contents {
        margin-bottom: -35px; }
      .preheader.preheader-front .form-box .input-style, .preheader.preheader-front .form-box .btn,
      .preheader.preheader-front .form-box .wptrigger1-triggerbox,
      .preheader.preheader-front .form-box .wptrigger1-button {
        font-size: 26px; }
      .preheader.preheader-front .form-box .input-style,
      .preheader.preheader-front .form-box .wptrigger1-triggerbox,
      .preheader.preheader-front .form-box .wptrigger1-button {
        height: 62px; }
    .preheader.preheader-front .form-explanation {
      font-size: 17px;
      margin-bottom: 30px; }
    .preheader.preheader-front .trigger-response {
      padding-bottom: 30px;
      margin-top: -20px; }

.preheader.preheader-front .section-about {
  padding: 0;
  clear: both;
  color: #040707; }
  .preheader.preheader-front .section-about .zip-box {
    margin-top: -160px;
    max-width: 520px;
    padding-bottom: 20px;
    font-size: 13px;
    line-height: 1.75; }
    @media all and (max-width: 1440px) {
      .preheader.preheader-front .section-about .zip-box {
        margin-top: -150px; } }
    @media all and (max-width: 1280px) {
      .preheader.preheader-front .section-about .zip-box {
        margin-top: -180px; } }
    @media all and (max-width: 991px) {
      .preheader.preheader-front .section-about .zip-box {
        margin-top: 0;
        padding: 0 0 150px; } }
  @media all and (max-width: 991px) {
    .preheader.preheader-front .section-about .half-box {
      float: none; } }

.mobile-menu-toggle,
.mobile-menu-wrap {
  display: none; }

.mobile-menu-toggle {
  position: absolute;
  right: 6px;
  top: 0;
  height: 60px;
  width: 60px;
  vertical-align: middle;
  cursor: pointer;
  font-size: 26px; }
  .mobile-menu-toggle span:before,
  .mobile-menu-toggle span:after,
  .mobile-menu-toggle span {
    position: absolute;
    display: block;
    content: '';
    cursor: pointer;
    height: 1px;
    width: 30px;
    background-color: #bcbcbc;
    -webkit-transition: 0.35s;
    -khtml-transition: 0.35s;
    -moz-transition: 0.35s;
    -ms-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s; }
  .mobile-menu-toggle span {
    z-index: 999;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -khtml-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .mobile-menu-toggle span:before {
      top: -9px; }
    .mobile-menu-toggle span:after {
      bottom: -9px; }
  .mobile-menu-toggle.active span {
    background-color: transparent; }
    .mobile-menu-toggle.active span:before {
      -webkit-transform: rotate(45deg);
      -khtml-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 0; }
    .mobile-menu-toggle.active span:after {
      -webkit-transform: rotate(-45deg);
      -khtml-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      bottom: 0; }
  .mobile-menu-toggle.active span:before,
  .mobile-menu-toggle.active span:after {
    background-color: #040707; }

.footer {
  overflow: hidden;
  background: #373737;
  padding: 70px 0 50px;
  color: #cccccc; }
  .footer .container {
    max-width: 940px; }
  .footer .footer-form {
    overflow: hidden;
    position: relative;
    float: left;
    width: 68%; }
    .footer .footer-form .inputs-cell,
    .footer .footer-form .submit-cell {
      position: relative;
      display: table-cell;
      vertical-align: bottom; }
      .footer .footer-form .inputs-cell p,
      .footer .footer-form .submit-cell p {
        position: relative;
        z-index: 3;
        margin-bottom: 18px; }
    .footer .footer-form .inputs-cell {
      width: calc(100% - 300px); }
    .footer .footer-form .submit-cell {
      width: 300px;
      padding: 0 20px; }
    .footer .footer-form .input-style {
      height: 38px;
      padding-left: 12px;
      padding-right: 12px;
      font-size: 17px;
      line-height: 28px; }
      .footer .footer-form .input-style.error, .footer .footer-form .input-style.wpcf7-not-valid {
        outline: 1px solid #ff0000;
        border: none; }
        .footer .footer-form .input-style.error:focus, .footer .footer-form .input-style.wpcf7-not-valid:focus {
          border: none; }
    .footer .footer-form .btn {
      padding-top: 8px;
      padding-bottom: 6px; }
    .footer .footer-form span.wpcf7-not-valid-tip,
    .footer .footer-form .input-style.error + .error {
      position: absolute;
      margin-top: -2px;
      min-width: 240px; }
    .footer .footer-form div.wpcf7-response-output {
      margin-bottom: 10px; }
  .footer .footer-slogan {
    position: absolute;
    z-index: 1;
    top: -8px;
    right: 20px;
    width: 260px;
    text-align: left;
    font-size: 16.5px;
    line-height: 2; }
  .footer .footer-call-box {
    float: left;
    width: 32%;
    text-align: right; }
  .footer .footer-call-us {
    position: relative;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 17px;
    line-height: 1.1;
    color: #a0ce5c; }
    .footer .footer-call-us:first-child {
      margin-top: -2px; }
    .footer .footer-call-us a {
      display: block;
      font-weight: 600;
      font-size: 21px;
      line-height: 1.2;
      color: #fefefe;
      text-decoration: none;
      white-space: nowrap; }
      .footer .footer-call-us a:hover {
        color: #e5e5e5; }
  .footer .footer-logo img {
    width: auto;
    height: auto;
    max-width: 100%;
    margin-bottom: -4px; }
  .footer .copyright {
    font-size: 13px;
    line-height: 1.25; }

.btn-submit {
  background-color: #a0ce5c;
  color: #373737; }
  .btn-submit:hover {
    background-color: #88be39;
    color: #ffffff; }

/* styles used throughout site */
.mascot {
  float: none;
  width: 50%;
  padding: 0;
  margin: 0 auto;
  position: relative;
  background: url(../../img/frames-high-res.png);
  /*width: 750px;*/
  /*height: 556px;*/
  max-width: 100%;
  height: auto;
  background-size: auto 100%; }
  @media (min-width: 992px) {
    .mascot {
      width: 50%;
      float: left; } }
  @media (min-width: 1500px) {
    .mascot {
      width: 60%;
      margin-left: -10%; } }
  .mascot:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 134.61538%;
    /*padding-top: ($height / $width) * 100%;*/ }

.wall-line {
  background-image: url(../../img/wall-line.png);
  background-size: auto 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
  width: 100%; }
  .wall-line:before {
    display: block;
    content: "";
    padding-top: 2%;
    /*padding-top: ($height / $width) * 100%;*/ }

.half-box .inner-half-box {
  max-width: 500px; }

.form-box-wrap {
  position: relative;
  max-width: 420px;
  padding-left: 50px; }
  .form-box-wrap form {
    position: relative; }
    .form-box-wrap form .form-tip {
      position: absolute;
      left: -50px;
      top: 8px;
      width: 50px;
      padding: 0 5px;
      margin: 0;
      font-size: 22px;
      text-align: left; }

.anchors-wrap {
  position: relative; }

.anchors {
  position: static;
  border-bottom: 1px solid #cccccc;
  background-color: #ffffff; }
  .anchors.fixed {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1); }

.anchors-list {
  position: relative;
  text-align: center; }
  .anchors-list li {
    position: relative;
    display: inline-block; }
    .anchors-list li a {
      display: inline-block;
      padding: 25px 48px;
      text-transform: uppercase;
      font-weight: 600;
      color: #cccccc;
      text-decoration: none; }
      .anchors-list li a:after {
        content: '';
        position: absolute;
        display: block;
        height: 3px;
        width: calc(100% - 48px*2);
        bottom: 0;
        left: 48px;
        background: transparent;
        -webkit-transition: 0.2s;
        -khtml-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s; }
      .anchors-list li a.active, .anchors-list li a:hover {
        color: #040707; }
        .anchors-list li a.active:after, .anchors-list li a:hover:after {
          background-color: #8acf52; }
    .anchors-list li:first-child a {
      padding-left: 0; }
      .anchors-list li:first-child a:after {
        width: calc(100% - 48px);
        left: 0; }
    .anchors-list li:last-child a {
      padding-right: 0; }
      .anchors-list li:last-child a:after {
        width: calc(100% - 48px); }

.advertising-wrap .container,
.content-wrap .container {
  max-width: 940px; }

.advertising-wrap {
  margin-top: 43px; }
  .advertising-wrap iframe,
  .advertising-wrap img {
    max-width: 100%;
    width: auto;
    height: auto; }
  .advertising-wrap img {
    margin-bottom: -5px; }

.content-wrap {
  padding: 38px 0 50px; }
  .content-wrap .container {
    padding-right: 110px; }
  .content-wrap .section {
    padding: 44px 0 37px;
    background-color: #ffffff; }
    .content-wrap .section.grey, .content-wrap .section:nth-child(even) {
      background-color: #ebebeb; }
      .content-wrap .section.grey:last-child, .content-wrap .section:nth-child(even):last-child {
        padding-bottom: 87px;
        margin-bottom: -50px; }

.content .section-bullets {
  font-size: 20px; }
  .content .section-bullets .container {
    max-width: 982px;
    padding-left: 40px;
    padding-right: 0; }
    @media all and (max-width: 991px) {
      .content .section-bullets .container {
        padding: 0 20px; } }
  .content .section-bullets h2 {
    margin-bottom: 40px;
    font-size: 33px;
    font-weight: 600;
    line-height: 1.5; }
  .content .section-bullets ul, .content .section-bullets ol {
    -webkit-columns: 4;
    -khtml-columns: 4;
    -moz-columns: 4;
    -ms-columns: 4;
    -o-columns: 4;
    columns: 4;
    -webkit-column-gap: 40px;
    -khtml-column-gap: 40px;
    -moz-column-gap: 40px;
    -ms-column-gap: 40px;
    -o-column-gap: 40px;
    column-gap: 40px; }
    @media all and (max-width: 991px) {
      .content .section-bullets ul, .content .section-bullets ol {
        padding-left: 20px; } }
    @media all and (max-width: 960px) {
      .content .section-bullets ul, .content .section-bullets ol {
        -webkit-columns: 3;
        -khtml-columns: 3;
        -moz-columns: 3;
        -ms-columns: 3;
        -o-columns: 3;
        columns: 3; } }
    @media all and (max-width: 640px) {
      .content .section-bullets ul, .content .section-bullets ol {
        -webkit-columns: 2;
        -khtml-columns: 2;
        -moz-columns: 2;
        -ms-columns: 2;
        -o-columns: 2;
        columns: 2; } }
    @media all and (max-width: 420px) {
      .content .section-bullets ul, .content .section-bullets ol {
        padding-left: 20px;
        padding-right: 20px;
        -webkit-columns: 1;
        -khtml-columns: 1;
        -moz-columns: 1;
        -ms-columns: 1;
        -o-columns: 1;
        columns: 1; } }
    .content .section-bullets ul li, .content .section-bullets ol li {
      margin-bottom: 35px; }
@media all and (min-width: 768px) {
  .content-wrap .section-bullets {
    padding-top: 0; } }

.hidden-field {
  display: none; }

/*--------------------------------------MEDIA-----------------------------------------*/
@media all and (max-width: 1400px) {
  .preheader.preheader-front {
    padding-top: 50px;
    background-position: center bottom; } }
@media all and (max-width: 1280px) {
  .preheader.preheader-front .container {
    padding-top: 50px; }

  .anchors-list li a {
    padding-right: 32px;
    padding-left: 32px;
    display: inline-block; }
    .anchors-list li a:after {
      width: calc(100% - 32px*2);
      left: 32px; }
  .anchors-list li:first-child a:after, .anchors-list li:last-child a:after {
    width: calc(100% - 32px); } }
@media all and (max-width: 1200px) {
  .header-call-us {
    padding-right: 142px; } }
@media all and (max-width: 1024px) {
  .header-call-us {
    padding-right: 55px; } }
@media all and (max-width: 991px) {
  .desktop {
    display: none; }

  .half-box {
    float: none;
    width: 100%; }
    .half-box .inner-half-box {
      margin: 0 auto;
      text-align: center;
      margin-bottom: 50px; }
    .half-box .form-box-wrap {
      max-width: 470px;
      padding-right: 50px;
      margin: 0 auto 10px;
      padding-bottom: 10px; }

  .preheader.preheader-front .container {
    padding-top: 20px; }
  .preheader.preheader-front .zip-box {
    margin: 0 auto;
    padding-bottom: 100px; }
    .preheader.preheader-front .zip-box p:last-child:not(.easy-fast) {
      text-shadow: 0 0 2px rgba(0, 0, 0, 0.3); }
  .preheader .slogan {
    line-height: 2; }

  .content-wrap .container {
    padding-right: 20px; }

  .anchors {
    min-height: 60px; }

  .mobile-menu-overlay,
  .mobile-menu-toggle {
    display: block; }

  .mobile-menu-wrap {
    position: fixed;
    z-index: 999;
    right: 0;
    height: 0;
    width: 0;
    top: 0;
    -webkit-transition-delay: 0.35s;
    -khtml-transition-delay: 0.35s;
    -moz-transition-delay: 0.35s;
    -ms-transition-delay: 0.35s;
    -o-transition-delay: 0.35s;
    transition-delay: 0.35s; }
    .mobile-menu-wrap .mobile-menu-overlay {
      position: absolute;
      z-index: 1;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.25);
      opacity: 0;
      -webkit-transition: opacity 0.35s;
      -khtml-transition: opacity 0.35s;
      -moz-transition: opacity 0.35s;
      -ms-transition: opacity 0.35s;
      -o-transition: opacity 0.35s;
      transition: opacity 0.35s; }
    .mobile-menu-wrap .mobile-menu-box {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      opacity: 0;
      padding: 50px 10px 60px;
      background-color: white;
      -webkit-transition: opacity 0.35s;
      -khtml-transition: opacity 0.35s;
      -moz-transition: opacity 0.35s;
      -ms-transition: opacity 0.35s;
      -o-transition: opacity 0.35s;
      transition: opacity 0.35s;
      overflow: auto; }
      .mobile-menu-wrap .mobile-menu-box .mobile-menu-toggle {
        position: fixed; }
    .mobile-menu-wrap.showing {
      display: block;
      height: 100%;
      width: 100%;
      -webkit-transition-delay: 0s;
      -khtml-transition-delay: 0s;
      -moz-transition-delay: 0s;
      -ms-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s; }
      .mobile-menu-wrap.showing .mobile-menu-wrap {
        opacity: 1; }
      .mobile-menu-wrap.showing .mobile-menu-box {
        opacity: 1; }

  .anchors-list li {
    display: block;
    margin-bottom: 10px; }
    .anchors-list li a {
      position: relative;
      display: inline-block;
      color: #bcbcbc; }
  .anchors-list li a,
  .anchors-list li:first-child a,
  .anchors-list li:last-child a {
    padding: 15px 20px; }
    .anchors-list li a:after,
    .anchors-list li:first-child a:after,
    .anchors-list li:last-child a:after {
      width: calc(100% - 20px*2);
      left: 20px;
      bottom: 3px; }

  .header-call-us {
    padding-right: 0; } }
@media all and (max-width: 768px) {
  .footer .footer-form,
  .footer .footer-call-box {
    float: none;
    width: 100%;
    text-align: center; }
  .footer .footer-form {
    margin-bottom: 20px; }
    .footer .footer-form .inputs-cell,
    .footer .footer-form .submit-cell {
      display: block;
      width: 100%;
      text-align: center; }
    .footer .footer-form .submit-cell {
      padding: 0; }
  .footer .footer-slogan {
    position: relative;
    top: 0;
    right: 0;
    max-width: 480px;
    width: 100%;
    margin: 0 auto 30px;
    text-align: center;
    line-height: 1.6; }
  .footer .footer-call-us, .footer .footer-call-us:first-child {
    margin: 0 auto 30px;
    padding-top: 10px; }
  .footer .copyright {
    padding-top: 8px; } }
@media all and (max-width: 767px) {
  .header .logo {
    float: none;
    margin-right: 0;
    clear: both; }

  .header-call-us {
    float: none;
    text-align: center; }

  .content-wrap {
    padding: 20px 0 40px; }
    .content-wrap .section.grey:last-child, .content-wrap .section:nth-child(even):last-child {
      padding-bottom: 77px;
      margin-bottom: -40px; } }
@media all and (max-width: 480px) {
  .preheader.preheader-front .container {
    padding-top: 0; }
  .preheader.preheader-front .zip-box p:last-child:not(.easy-fast) {
    text-shadow: none; }

  .half-box .form-box-wrap {
    max-width: none;
    margin-left: -15px;
    margin-right: -15px; }

  .wrap-404 {
    padding: 20px 0 10px;
    font-size: 45px; }
    .wrap-404 .error-404 {
      margin-bottom: -20px;
      font-size: 120px; } }
@media all and (max-width: 420px) {
  .preheader.preheader-front .zip-box {
    padding-bottom: 200px; } }
@media all and (max-width: 380px) {
  .half-box .form-box-wrap {
    padding: 0 15px 0 40px; }
    .half-box .form-box-wrap form .form-tip {
      left: -44px; } }

/*# sourceMappingURL=screen.css.map */
