a.btn, .btn,
.wptrigger1-button {
  position: relative;
  display: inline-block;
  max-width: 100%;
  min-width: 91px;
  margin: 0;
  padding: 14px 15px 12px;
  @include font($semibold, 21px, $font-main, 1.15);
  color: $color-text3;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  background-color: $color-bg3;
  &:hover {
    background-color: darken($color-bg3, 4%);
    color: $color-text;
  }
}
input[type=button],
input[type=submit],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.input-style,
.wptrigger1-triggerbox {
  display: block;
  width: 100%;
  height: 50px;
  margin: 0;
  border: none;
  box-shadow: none;
  @include font($normal, 21px, $font-main, 40px);
  color: $color-text;
  padding: 5px 20px;
  background-color: $white;
  @include transition($transition-other);
  &.wpcf7-not-valid,
  &.error {
    border-color: $color-error;
  }
  &::-webkit-input-placeholder {
    @include placeholder();
  }
  &::-moz-placeholder {
    @include placeholder();
  }
  &:-ms-input-placeholder{
    @include placeholder();
  }
  &:-moz-placeholder {
    @include placeholder();
  }
}
textarea.input-style {
  line-height: 1.25;
  padding: 5px 12px;
  min-height: 200px;
  resize: none;
}

.input-style.error + .error {
  position: absolute;
  left: 0;
  width: 280px;
  color: $color-error;
  line-height: 1.2;
}
span.wpcf7-not-valid-tip,
.input-style.error + .error {
  font-size: 0.9em;
}
div.wpcf7-response-output {
  margin-left: 0;
  margin-right: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.1em;
  text-align: center;
  color: $white;
}
