/*--------------------------------------MEDIA-----------------------------------------*/
@media all and (min-width: 1920px) {

}
@media all and (min-width: 1680px) {

}

@media all and (max-width: 1400px) {
  .preheader {
    &.preheader-front {
      padding-top: 50px;
      background-position: center bottom;
    }
  }
}

@media all and (max-width: 1280px) {
  .preheader {
    &.preheader-front {
      .container {
        padding-top: 50px;
      }
    }
  }
}

@media all and (max-width: 1199px) {

}

@media all and (max-width: 1080px) {

}

@media all and (max-width: 1024px) {

}

@media all and (max-width: 991px) {
  .half-box {
    float: none;
    width: 100%;
    .inner-half-box {
      margin: 0 auto;
      text-align: center;
      margin-bottom: 50px;
    }
    .form-box-wrap {
      max-width: 470px;
      padding-right: 50px;
      margin: 0 auto 10px;
      padding-bottom: 10px;
    }
  }
  .preheader {
    &.preheader-front {
      .container {
        padding-top: 20px;
      }
      .zip-box {
        margin: 0 auto;
        padding-bottom: 250px;
        p:last-child:not(.easy-fast) {
          text-shadow: 0 0 2px rgba(0,0,0,.3);
        }
      }
    }
    .slogan {
      line-height: 2;
    }
  }
}

@media all and (max-width: 960px) {

}

@media all and (max-width: 860px) {

}

@media all and (max-width: 790px) {

}

@media all and (max-width: 768px) {

}

@media all and (max-width: 767px) {
  .header {
    .logo {
      float: none;
      margin-right: 0;
      clear: both;
    }
  }
}

@media (max-width: 767px) and (max-height: 480px) {

}
@media all and (max-width: 736px) {

}
@media all and (max-width: 680px) {

}

@media all and (max-width: 640px) {

}

@media all and (max-width: 600px) {

}

@media all and (max-width: 560px) {

}

@media all and (max-width: 480px) {
  .preheader {
    &.preheader-front {
      .container {
        padding-top: 0;
      }
      .zip-box {
        p:last-child:not(.easy-fast) {
          text-shadow: none;
        }
      }
    }
  }
  .half-box {
    .form-box-wrap {
      max-width: none;
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}

@media all and (max-width: 420px) {
  .preheader {
    &.preheader-front {
      .zip-box {
        padding-bottom: 200px;
      }
    }
  }
}

@media all and (max-width: 380px) {
  .half-box {
    .form-box-wrap {
      padding: 0 15px 0 40px;
      form .form-tip {
        left: -44px;
      }
    }
  }
}

@media all and (max-width: 360px) {

}

@media all and (max-width: 350px) {

}