/*fonts*/
$font-main: 'ProximaNova', Arial, sans-serif;
$font-heading: Helvetica, 'ProximaNova', Arial, sans-serif;

/*fonts-weight*/
$normal: 400;
$light: 300;
$semibold: 600;
$bold: 700;

/*fonts-size*/
$size-main: 17px;
$size-text2: 22px;
$size-heading1: 42px;
$size-heading2: 25px;

/*line-height*/
$line-height: 1.6;
$line-height-heading: 1;

/*colors*/
$white: #ffffff;
$color-text: #040707;
$color-text2: #bcbcbc;
$color-text3: #cccccc;
$color-bg1: $white;
$color-bg2: #8acf52;
$color-bg3: #ebebeb;
$color-error: #ff0000;

/*transition*/
$transition-link: 0.2s;
$transition-other: 0.35s;
